.main-container {
    display: flex;
    height: 100vh;
    padding: 3.75rem 2.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Center the entire sidebar content horizontally */
    flex-shrink: 0;
}

.sidebar-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the sidebar info content horizontally */
    gap: 6.3125rem;
    width: 100%; /* Ensure the sidebar info stretches */
}

.sidebar-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Keep the icons and text left-aligned */
    gap: 1.875rem;
    width: fit-content; /* Only take up as much width as necessary */
    padding-right: 3rem;
}

.logo {
    padding: 0rem 3.15rem;
}

.icon-info {
    display: flex;
    align-items: center; /* Vertically align icon and text */
    gap: 0.94rem;
    justify-content: flex-start; /* Left align icons and text */
    width: 100%; /* Make sure it stretches the width */
}

.icon {
    width: 2.25rem;
    height: 2.25rem;
}