@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--F0F7FA, #F0F7FA); /* jsl background */
  --foreground: #1B1C2D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--F0F7FA, #F0F7FA); /* jsl background */
    --foreground: #1B1C2D;
  }
}

body {
  /* color: var(--foreground); */
  color: #1B1C2D;
  background: var(--background);
}

html, body {
  overflow-x: hidden; /* Prevent horizontal scrolling globally */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
