@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--F0F7FA, #F0F7FA); /* jsl background */
  --foreground: #1B1C2D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--F0F7FA, #F0F7FA); /* jsl background */
    --foreground: #1B1C2D;
  }
}

body {
  /* color: var(--foreground); */
  color: #1B1C2D;
  background: var(--background);
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the wrapper takes full viewport height */
}

@media (max-width: 64rem) {
  html, body {
    /* Prevent horizontal scrolling globally in mobile */
   overflow-x: hidden;
 }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
