.no-lots-message {
    font-weight: bold;
}

.lots-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    width: 100%;
    color: #074A6B;
}

.lot-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #E3F2FD;
    gap: 2rem; /* Add space between elements */
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
}

.lot-number {
    font-weight: bold;
    min-width: 6rem; /* Allocate minimum space for the lot number */
}

.lot-product {
    flex: 1; /* Take up remaining space for the product name */
    min-width: 10rem; /* Ensure some minimum space */
}

.lot-packaging {
    min-width: 6rem;
}

.lot-boxes {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.box-icon {
    width: 2.5rem;
    height: 2.5rem;
}


@media (max-width: 64rem) {
    .lot-details {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem; /* Reduce gap for mobile */
    }

    .lot-number, .lot-product, .lot-packaging, .lot-boxes {
        min-width: unset;
    }

    .box-icon {
        width: 2rem;
        height: 2rem;
    }
}