.sign-in-container {
    display: flex;                
    width: 100vw;                
    height: 100vh;               
    align-items: stretch;        
    background: #FFF;            
    box-shadow: 7px 0px 9px 0.5px rgba(135, 183, 209, 0.25);
    background-color: #F0F7FA;
}

.login-image {
    width: 110%;
    height: auto;
}

.form-container {             
    width: 100%;
}

.sign-in-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 50%;
}

.input-group {
    width: 50%; /* Adjust this for the desired width of the input group */
    padding-top: 1.5rem;
}

.sign-in-form-header {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: normal;
}

.sign-in-label-style {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: normal;
    width: 100%; /* Ensure the label takes full width */
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%; /* Ensure the input container is full width */
}

.input-background {
    width: 100%; /* Full width to match button */
    height: 3rem;
    background-color: #F0F7FA;
}

.input-line {
    border-bottom: 1.5px solid #1B1C2D;
    width: 100%; /* Ensure the line matches the input width */
}

.button-container {
    width: 53%; /* Make the button container full width */
    padding-top: 0rem; /* Add some vertical spacing */
}

.button-style {
    width: 100%; /* Ensure the button stretches to full width */
    height: 3rem; /* Match the height of the input */
    color: white; /* Adjust as needed */
    border: none; /* Remove default button border */
    cursor: pointer; /* Change cursor to pointer */
}

@media (max-width: 64rem) {
    .sign-in-container {
        flex-direction: column;
    }

    .login-image {
        width: 110%;
        height: 50%; /* Height auto to maintain aspect ratio */
    }

    .sign-in-form-container {
        padding-top: 5rem;
    }

    .input-group {
        width: 80%; /* Adjust on mobile as necessary */
    }

    .button-container {
        width: 80%; /* Match input group width */
        padding-top: 1rem; /* Add some vertical spacing */
    }
}